:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  a, svg {
    color: white
  }
}

.add-slots-section {
  background: rgba(128, 128, 128, 0.37);
}

// .view-slots-section {
//   background: repeating-linear-gradient(
//   45deg,
//   rgba(2, 116, 216, 0.001),
//   rgba(2, 116, 216, 0.001) 10px,
//   rgba(2, 116, 216, 0.281) 10px,
//   rgba(2, 116, 216, 0.281) 20px
// );
// }