
<!-- <mat-toolbar color="primary" class="app-header" >
  <div >
    <a mat-flat-button href="https://www.accolite.com/" color="primary"
      >Accolite iTracker</a
    >
  </div>

  <span class="nav-tool-items"> </span>
</mat-toolbar>

     -->

     

<mat-toolbar color="primary" class="app-header">
  <div>
    <a mat-flat-button href="https://www.accolite.com/" color="primary"
      >Accolite iTracker</a
    >
  </div>

  <span class="nav-tool-menu">
    <button mat-fab color="primary"  [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button routerLink="profile" routerLinkActive="active" mat-menu-item>
        View Profile
      </button>
      <button routerLink="home" routerLinkActive="active" mat-menu-item>
        Home
      </button>
      <button routerLink="login" routerLinkActive="active" mat-menu-item>
        Sign out
      </button>
    </mat-menu>
    
  </span>
</mat-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center">
  <router-outlet> </router-outlet>
</div>

<div class="container h-100 w-100 p-0 m-0">
    <div class="row h-100 w-100">
      <app-addslots class="col-md-12 col-lg-5 h-100 add-slots-section"></app-addslots>
      <div class="col-1 vr"></div>
      <div class="col-md-12 col-lg-6 d-flex align-items-center justify-content-center view-slots-section">
        <span>View Slots over here</span>
      </div>
    </div>
  </div>